<% @title="Parametres" %>
<!-- component -->
<div class="">
    <div x-data="{ sidebarOpen: false }" class="flex h-screen bg-gray-200">
        <div :class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false" class="fixed z-20 inset-0 bg-black opacity-50 transition-opacity lg:hidden"></div>
        <!-- Sidebar -->
        <%= render "dashboard/shared/sidebar" %>

        <div
            class="flex-1 flex flex-col overflow-hidden">
            <!-- Header -->
            <%= render "dashboard/shared/header" %>
            <main class="flex-1 overflow-x-hidden overflow-y-auto bg-gray-200">
                <div class="container mx-auto px-6 py-8">
                    <h3 class="text-gray-700 text-2xl font-medium">Config Lnclass</h3>
                    <div class="flex flex-col mt-8">
                        <%= render "dashboard/shared/items" %>
                    </div>
                    <!-- Add Home Items -->
                    <div class="flex flex-col mt-8">
                        <%= render "dashboard/shared/home/material" %>
                    </div>
                    <div class="flex flex-col mt-8">
                        <%= render "dashboard/shared/home/level" %>
                    </div>
                    <div class="flex flex-col mt-8">
                        <%= render "dashboard/shared/home/city" %>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
