<div class="px-4 md:px-302 py-8">
	<h2 class="flex justify-center text-2xl text-white font-bold">Incription Prof partenaire</h2>
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
	<%= render "devise/shared/error_messages", resource: resource %>
	<!-- Error-->
	<%#= form_error_notification(resource: resource) %>
	<div class="py-8 pb-2">
		<div class="py-8 max-w-md">
			<div class="grid grid-cols-1 gap-6">
				<label class="block"><span class="text-white">Nom: </span><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"Konan ...",class:"mt-1 block w-full" %></label>
			</div>
		</div>
		<div class="py-8 max-w-md">
			<div class="grid grid-cols-1 gap-6">
				<label class="block"><span class="text-white">Prénom: </span><%= f.text_field :last_name,  placeholder:"Ex: Angela ...", class:"mt-1 block w-full" %></label>
			</div>
		</div>
		<div class="mt-8 max-w-md">
			<div class="grid grid-cols-1 gap-2">
				<span class="text-white">Ville:</span>
				<%= f.select(:city_name, @citytowns.map{|citytown| [citytown.title]}, { prompt: "choisir" }, class:"block w-full select") %>
			</div>
		</div>
		<div class="pt-12 max-w-md">
			<div class="grid grid-cols-1 gap-6 py-4">
				<label class="block">
					<%= f.label :"La Série:" , class:"text-white" %>
					<br>
					<%= f.radio_button :material_name, "Fr", class:"bg-white font-bold" %>
					<span class="text-bold text-white">Fr</span>
					<%= f.radio_button :material_name, "HG", class:"bg-white font-bold pl-4" %>
					<span class="text-bold text-white">HG</span>
					<%= f.radio_button :material_name, "Philo", class:"bg-white font-bold pl-4" %>
					<span class="text-bold text-white">Philo</span>
					<%= f.radio_button :material_name, "Math", class:"bg-white font-bold pl-4" %>
					<span class="text-bold text-white">Math</span>
					<%= f.radio_button :material_name, "PC", class:"bg-white font-bold pl-4" %>
					<span class="text-bold text-white">PC</span>
					<%= f.radio_button :material_name, "SVT", class:"bg-white font-bold pl-4" %>
					<span class="text-bold text-white">SVT</span>
					<%= f.radio_button :material_name, "Autres", class:"bg-white font-bold pl-4" %>
					<span class="text-bold text-white">Autres</span>
				</label>
			</div>
		</div>
		<div class="py-12 max-w-md">
			<div class="grid grid-cols-1 gap-6">
				<label class="block"><span class="text-white ">N° matricule: </span><%= f.text_field :matricule, placeholder:"Ex: 13235330y", class:"mt-1 block w-full" %></label>
			</div>
		</div>
		<div class="py-8 max-w-md">
			<div class="grid grid-cols-1 gap-6">
				<label class="block"><span class="text-white ">N° whatsapp </span><%= f.text_field :contact, placeholder:"Ex: 0584258085", class:"mt-1 block w-full" %></label>
			</div>
		</div>
		<div class="py-8 max-w-md">
			<div class="grid grid-cols-1 gap-6 pt-4">
				<label class="block">
					<%= f.label :"Je suis :" , class:"text-white" %>
					<br>
					<%= f.radio_button :gender, "Femme", id:"fenale", class:"bg-white font-bold" , checked: true %>
					<label for="fenale" class="text-bold text-white">Une Femme</label>
					<%= f.radio_button :gender, "Homme",id:"male", class:"bg-white font-bold pl-4" %>
					<label for="male" class="text-bold text-white">Un Homme</span>
				</label>
			</div>
		</div>
		<div class="py-8 max-w-md">
			<div class="grid grid-cols-1 gap-6 pt-4">
				<label class="block">
					<%= f.label :"Important: Reprends-tu la Tle?" , class:"text-white" %>
					<br>
					<%= f.radio_button :doublant, "Oui", id:"oui", class:"bg-white font-bold"  %>
					<label for="fenale" class="text-bold text-white">Oui</label>
					<%= f.radio_button :doublant, "Non",id:"non", class:"bg-white font-bold pl-4" %>
					<label for="male" class="text-bold text-white">Non</span>
				</label>
			</div>
		</div>
		<div class="py-8 max-w-md">
			<div class="grid grid-cols-1 gap-6">
				<div class="block my-4">
					<p class="text-white">
						Vérifiez que vous avez bien remplir les champs avec les bonnes informations avant de clicker sur Inscription. 
					</p>
				</div>
			</div>
		</div>
		<%= f.hidden_field :user_role, value:"Student" %>
		<div class="pt-4 my-6">
			<%= f.submit "Inscription", class:"ln-btn-color text-white" %>
		</div>
	</div>
	<% end %>
</div>
