<div id="<%= dom_id learn %>" class="bg-white p-2">
  <div class="my-5 font-bold text-xl">
    <%= learn.title %>
  </div>
  <div class="my-5">
    <strong class="block font-medium mb-1">Auteur, prof :</strong>
    <%= learn.user.full_name %>
  </div>

  <div class="my-5">
    <%= learn.content %>
  </div>
<hr>
  <div class="flex">
  <div class="w-1/2 my-5">
    Serie prépa Bac:
    <%= learn.level_name %>
  </div>

  <div class="w-1/2 my-5">
    <%= learn.material_name %>
  </div>
  </div>



  <% if action_name != "show" %>
    <%= link_to "Show this learn", learn, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this learn', edit_learn_path(learn), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
