<div class="-my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
    <div class="align-middle inline-block min-w-full shadow overflow-hidden sm:rounded-lg border-b border-gray-200">
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Nom & Prénom</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Coordonnées</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Dern. visite</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                        Role</th>
                    <th class="px-6 py-3 border-b border-gray-200 bg-gray-50"></th>
                </tr>
            </thead>

            <tbody class="bg-white">
            <% cache do %>
                <% @student_list.each do |student| %>

                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="flex items-center">
                                <div class="flex-shrink-0">
                                    <%# if student.avatar.attached? %>
                                        <div class="h-33 w-33 border bg-red-500 rounded-full">
                                            <%#= image_tag(member.avatar.variant(resize_to_limit: [33, 33]), alt:"avatar") %>
                                        </div>
                                    <%# else %>
                                        <% member_avatar = "#{[student.first_name.first, student.last_name.first].join('')}"  %>
                                            <p class="flex h-10 w-10 rounded-full bg-gray-300 font-bold text-black mr-2 uppercase">

                                                <span class="flex justify-center mx-auto py-3 ">
                                                    <%= member_avatar %>
                                                </span>
                                             </p>
                                        </p>
                                    <%# end %>
                                </div>

                                <div class="ml-4">
                                    <div class="text-sm leading-5 font-medium text-gray-900">
                                        <%= student.full_name %>
                                    </div>
                                    <div class="text-sm leading-5 text-gray-500">
                                        <%= student.school_name %> - <%= student.level_name %>
                                    </div>

                                </div>
                            </div>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <div class="text-sm leading-5 text-gray-900">
                                <%= student.city_name %>
                                au
                                <%= student.contact %>

                            </div>
                            <div class="text-sm leading-5 text-gray-500">
                                <span class="px-2 inline-flex text-xs leading-5 font-semibold
                                    rounded-full bg-green-100 text-green-800">
                                    <%= student.matricule %> -
                                    ( <%= student.created_at.to_fs(:short) %> )
                                </span>
                            </div>

                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                            <span class="px-2 inline-flex text-xs leading-5 font-semibold 
                            rounded-full bg-green-100 text-green-800">
                                <%= student.last_sign_in_at.to_fs(:short) %>
                            </span>
                        </td>

                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200 text-sm leading-5 text-gray-500">
                            <% if student.abonnement == "plan gratuit" %>
                            <p class="bg-red-100 px-3 py-2 rounded inline-flex items-center justify-center text-neutral-600" >
                            plan Gratuit
                           
                            </p>
                            <% else %>
                            <p class="bg-green-50 px-3 py-2 rounded inline-flex items-center justify-center text-green-600" >
                            Plan premium
                            </p>
                            <% end %>
                        </td>
                    </tr>

                <% end %>
            <% end %>

            </tbody>
        </table>
    </div>
</div>
